<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Jedná se o diplomovou práci.</span>
            <br />
            <span>Michael Souček &copy; Faktografická aplikace</span>
        </div>
    </div>
</footer>